In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [20]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv11.csv',index_col=None)
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
#df1 = df1.loc[:, ~df1.columns.str.contains('^unnamed')]
df2 =pd.read_csv('../all-cv-data/lug-batch.csv',index_col=None)

In [21]:
df1.head()

                                            sentence
0  ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1  Emmere etali nsiike ebeera nnungi eri emibiri ...
2  Abawala abalungi baagalwa buli muntu naye abas...
3  Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4  Abayizi abatuula mu maaso batera okuba nga bat...

In [22]:
df2.head(10)

                                            sentence
0  Okusinziira ku Kaweesa ababaka baakusigala nga...
1  Baakujja mu mpalo kuba tebasobola kukozesa kis...
2  Babadde batuula mu mpalo nga buli lutuula luba...
3  Ababaka bano baweebwa ennambika okuva mu  bann...
4  Bino webiggyidde nga ababaka bano abamaze okul...
5  Ku Mmande ya ssabbiiti ejja lwe lutuula lwabwe...
6  Adduukiridde omulimu gw’okuddaabiriza ennyumba...
7  Okusobola okukwatizaako bannabuddu okusobola o...
8  Ssaalongo Erias Lukwago ategeezezza nti kino k...
9  Omusajja omuganda alina okulaba ng’emirimu egi...

In [23]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [24]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  80692
1       New        1   2510

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 336
Number of rows in Original but not in New: 80,356
Number of rows in New but not in Original: 2,174

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 336

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                            sentence
48395                                                   Taata yamalawo olunaku lumu n’akutuka n'afa.
71002                                           Mu wiiki bbiri ezaddirira,omukyala yakubawo eddenzi.
59258  Aliko ssente obuwumbi abiri eza gavumenti ze yakwasa amakubo amalala nezitakola mirimu gyazo.
71535                                                  Ssente ezo asobola okuzigulamu mmotoka eyiye.
61984          Allan Kasujja yagambye nti, "Vundumuna bbandi ya Kenya eyacaaka mu myaka gy'ekinaana"
17820                                                              Kibi okunenya abalala mu bukyamu.
77150                                               Abalimi balidde oba batunze ensigo zaabwe zonna.
71380                                                   Omuweereza yakomawo n'abaletera eby'okunywa.
67419                      Tebakulimbanga nti waliwo omuntu akola ensobi natamanya nti akoze ensobi.
49738                                              Agamba nti ekikolwa kikolebwa abo bokka abafumbo.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                            sentence
81223               Ono era ye munnayuganda omukazi asoose okuwangula omudaali mu mpaka  z'emisinde.
82794                                                         Osobola okuggulawo omusango mu kkooti.
82699  Omuwendo ogubalibwa okuliyirira abakoseddwa enteekateeka eyo ng’olina ekyapa gubeera waggulu.
82515      Obuweereza bwa disitulikiti ezibagabira ebyapa ate n’Obwakabaka obwaddizibwa ettaka lino.
81147                                      Omulangira Wasajja alambise abavubuka ku nsonga z’ettaka.
81374  Yafiiridde ku myaka nkaaga mu munaana era ng’abadde Ssaabasumba okumala emyaka kkumi netaano.
81036                      Bino Sseninde yabyogeredde mu kukwasibwa woofiisi ku kitebe ky'ekibiina.
82787                               Abasenze n’abeebibanja balina eddembe okuteeka envumbo ku ttaka.
80977                                Abagagga abali e Mulago balwadde beetaaga ssente za bujjanjabi.
81507            Ababaka bano basuubira Ssaabaminisita okuleeta ekiteeso ekikungubagira Ssaabasumba.

In [25]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [26]:
# Let us print the sentences already on CV as table 3
df3

                                                sentence _merge
30910                 Ani ateekeddwa okusasula obusuulu?   both
53394  RCC Bamwine bw’atyo bw’akkaatirizza ku nsonga ...   both
57244  Ebyo nno bitono nnyo ku ggwe by'oyiseemu era b...   both
57246  Eddenzi ebigambo byalikalira ku mumwa kuba n'o...   both
57247  Ekiragiro kino kibadde kiggwako leero kubanga ...   both
...                                                  ...    ...
66750  Ono yasoose kwevumba kafubo n’abakulembera ett...   both
66753          Yakebedde obutabo omusoloozebwa obusuulu.   both
66763                Omulamwa kutereeza nkola ya mirimu.   both
66767  Bakaliisoliiso bagenze e Masaka, Mpigi okulond...   both
66769  Bakaliisoliiso oluvannyuma baagenze e Mpigi ne...   both

[336 rows x 2 columns]

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [27]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [28]:
# New table with no sentence already on CV
df4

                                               sentence
0     Okusinziira ku Kaweesa ababaka baakusigala nga...
1     Baakujja mu mpalo kuba tebasobola kukozesa kis...
3     Ababaka bano baweebwa ennambika okuva mu  bann...
4     Bino webiggyidde nga ababaka bano abamaze okul...
5     Ku Mmande ya ssabbiiti ejja lwe lutuula lwabwe...
...                                                 ...
2516  Abakulembeze okuva mu Bwakabaka bwa Buganda ba...
2517  Ensisinkano eno yeetabiddwamu Katikkiro Charle...
2518      Bayogedde bingi ku ngeri bbanka y’ensi yonna.
2519  Bino byabaddewo oluvanyuma lw’olukungana lwa B...
2520        Yannyonnyola ensonga y’okutereeza obusenze.

[2174 rows x 1 columns]

In [29]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-thirty.csv',encoding='utf-8', index=False)

In [30]:
#LEt's now get a txt for uploading to Common Voice
data = pd.read_csv('lug-batch-thirty.csv', encoding='utf-8')
with open('lug-batch-thirty.txt','a+', encoding='utf-8') as f:
    for line in data.values:
        f.write((str(line[0])+'\n'))

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [31]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [32]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
2516  Abakulembeze okuva mu Bwakabaka bwa Buganda ba...
2517  Ensisinkano eno yeetabiddwamu Katikkiro Charle...
2518      Bayogedde bingi ku ngeri bbanka y’ensi yonna.
2519  Bino byabaddewo oluvanyuma lw’olukungana lwa B...
2520        Yannyonnyola ensonga y’okutereeza obusenze.

[82866 rows x 1 columns]

In [33]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv12.csv',index=False)

In [34]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv11.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted

In [35]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
2516  Abakulembeze okuva mu Bwakabaka bwa Buganda ba...
2517  Ensisinkano eno yeetabiddwamu Katikkiro Charle...
2518      Bayogedde bingi ku ngeri bbanka y’ensi yonna.
2519  Bino byabaddewo oluvanyuma lw’olukungana lwa B...
2520        Yannyonnyola ensonga y’okutereeza obusenze.

[82866 rows x 1 columns]