In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [1]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv14.csv',index_col=None)
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
#df1 = df1.loc[:, ~df1.columns.str.contains('^unnamed')]
df2 =pd.read_csv('../all-cv-data/final.csv',index_col=None)

In [25]:
import datacompy, pandas as pd
df1=pd.read_csv('lukfiles.csv',index_col=None)
# df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
#df1 = df1.loc[:, ~df1.columns.str.contains('^unnamed')]
df2 =pd.read_csv('bulango.csv',index_col=None)
# df2 = df1.loc[:, ~df2.columns.str.contains('^Unnamed')]

In [26]:
df1

                                                sentence
0      Abaana bano betaaga kutwalibwa mu ddwaliiro ba...
1      Abange mwe abasogoza omubisi ebireka essubi te...
2                      Essubi lyabadde awo ku katandaalo
3      Abasoggola emmere baakedde kwekweka tufumbe ak...
4      Ako akafulaano kaleete nkozeeko ndaba kagubaas...
...                                                  ...
70847         Okwokya amanda kusaanyizzaawo nnyo ebibira
70848  Ebibira nga bivuddewo ensi yaffe yaakufuuka ma...
70849        Mu malungu tetuyinza kulima nsuku zamatooke
70850                  Tewali ayagala kubeera mu malungu
70851           Mu malungu emmere namazzi owamma biwamme

[70852 rows x 1 columns]

In [27]:
df2

                                                 sentence
0       Abaana bano betaaga kutwalibwa mu ddwaliiro ba...
1       Abange mwe abasogoza omubisi ebireka essubi te...
2       Abasoggola emmere baakedde kwekweka tufumbe ak...
3       Ako akafulaano kaleete nkozeeko ndaba kagubaas...
4       Atayagala kuyiga yekotoggera yekka nze mbagamb...
...                                                   ...
101794              Ekibiina kyabwe kiwola abantu ensimbi
101795      Mmemba bwakuwandako eddusu ngebibyo biteredde
101796         Kyokka abakyewolamu bayinza okukiba ekigwo
101797           Omukka bwe gunyooka nga gunaatera okwaka
101798            Yimbamu mpulire oba oliyinza okuvuganya

[101799 rows x 1 columns]

In [28]:
#remove duplicates from new dataset
# df2=df2.drop_duplicates()

In [29]:
# df1=df1.drop_duplicates()

In [30]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0  Original        1   70852
1       New        1  101799

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 70,346
Number of rows in Original but not in New: 506
Number of rows in New but not in Original: 31,453

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 70,346

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                                                                           sentence
4790                                                     Abamu bazikuza mbu mulembe naye mulembe ki ogwo  Nakugulidde ekyangwe kitereke tokyerabira
10874                                                                                                         Abaana obwedda batamulira ku  buyungo
9851                                                        Wali wa mukaaga njagala abataano abo obayiteko  Mbadde nabo balina amatu abiri nga ggwe
87                                                                 Embuzi zo zoombi zazaadde obubuzi  bubiri bubiri olaba bwoyazizza ekisibo amangu
34351                                                                                                             Ho  Oyo alya kameenya ate takkuta
5646                                                  Buli mulundi nga ogitabulamu okuggyamu enfuufu namayinja  Oginnyika ogwokuna nogirinda ezimbe
17846                                                                                                                  Ate nga  siyinza kumuteemera
5149   Amazima malungi kubanga bwogalemerako owangula  Olimba akaseera katono ne batandika okukwekengera  Abamu balimba ne berabira ne bye baalimba
19207                                                                                                              Bagamba nti  okuziza kwa sitaani
138                                                                                  Naye mwana gwe oli mimwattoloba  bulala ebyo ani abikubuuzizza

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                                                               sentence
91178                                                                                  Taata agenze okugula ebikozesebwa ewaka mukatale
99589                                                                                        Sirina mulimu gwa mwezi naye ndya ne nnywa
74039  Naye basajjame mulawooza muligenda mu ggulu Mukola mutya ekikwekweeto nga tekuli mukazi nomu Omusajja gwe wenna nolwana nomukazi
78172                                                                                            Asiika byakulyaki anguzeeyo bya lukumi
80529                                                                  ekibira kino maka gansolo nnyigi okugeza emisota ne nsolo endala
86412                                                                                          ndi muvubuka munna Uganga wamyaka assatu
99257                                                                                   Bwe baamugamba okufumbirwa yakuba enkanda wansi
71060                                                                                    Abakyala basinga kwagala abalina ke beekoledde
83714                                                                                                        Kuba olina okuyonsa omwana
83726                                                                                        Kubanga ensi yonna eba esirise nawe bwotyo

In [31]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [32]:
# Let us print the sentences already on CV as table 3
df3
# df3.to_csv('duplicates.csv',index=False)

                                                sentence _merge
0      Abaana bano betaaga kutwalibwa mu ddwaliiro ba...   both
3      Abasoggola emmere baakedde kwekweka tufumbe ak...   both
4      Ako akafulaano kaleete nkozeeko ndaba kagubaas...   both
5      Atayagala kuyiga yekotoggera yekka nze mbagamb...   both
6                         Bano abatalya kyetutumula bawa   both
...                                                  ...    ...
70847         Okwokya amanda kusaanyizzaawo nnyo ebibira   both
70848  Ebibira nga bivuddewo ensi yaffe yaakufuuka ma...   both
70849        Mu malungu tetuyinza kulima nsuku zamatooke   both
70850                  Tewali ayagala kubeera mu malungu   both
70851           Mu malungu emmere namazzi owamma biwamme   both

[70346 rows x 2 columns]

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [33]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [34]:
# New table with no sentence already on CV
df4

                                                 sentence
1       Abange mwe abasogoza omubisi ebireka essubi te...
49      Bambi musaasire okukeerewa akagaali ke kaakutu...
79      E Ddambwe wewaali omusawuzi aloga eddalu yeyav...
83      Eggulo twasanze erye kalungu ku luzzi netufubu...
86      Embuzi zo zoombi zazaadde obubuzi bubiri bubir...
...                                                   ...
101794              Ekibiina kyabwe kiwola abantu ensimbi
101795      Mmemba bwakuwandako eddusu ngebibyo biteredde
101796         Kyokka abakyewolamu bayinza okukiba ekigwo
101797           Omukka bwe gunyooka nga gunaatera okwaka
101798            Yimbamu mpulire oba oliyinza okuvuganya

[31360 rows x 1 columns]

In [9]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-thirty-five.csv',encoding='utf-8', index=False)

In [35]:
df4.to_csv('nnew.csv',encoding='utf-8', index=False)

In [10]:
#LEt's now get a txt for uploading to Common Voice
data = pd.read_csv('lug-batch-thirty-five.csv', encoding='utf-8')
with open('lug-batch-thirty-five.txt','a+', encoding='utf-8') as f:
    for line in data.values:
        f.write((str(line[0])+'\n'))

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [20]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [21]:
new_data_on_cv

                                                 sentence
0       Omulabirizi Kityo Luwalira ng'asaba eggulo mu ...
1       OMULABIRIZI we Namirembe, Wilberforce Kityo Lu...
2       Apollo Kivebulaaya e Bukondo mu Busumba bwe Na...
3       Ategezezza nti Omukama Katonda alina ebirungi ...
4       Abantu balina okulumwa ,balina okusoomoozebwa ...
...                                                   ...
349735        agenda kuzitambuza ku mikutu migatta bantu.
349736  yawaliriza omukyala okuddukira ku Poliisi ye K...
349737                   bamutwala mu kkooti ye Makindye.
349738  amyuka omwogezi wa Poliisi mu Kampala n'emirir...
349739       musangiddwamu vidiyo mu sitayiro ezenjawulo.

[623494 rows x 1 columns]

In [13]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv15.csv',index=False)

In [14]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv14.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted

In [15]:
new_data_on_cv

                                                sentence
0      ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1      Emmere etali nsiike ebeera nnungi eri emibiri ...
2      Abawala abalungi baagalwa buli muntu naye abas...
3      Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4      Abayizi abatuula mu maaso batera okuba nga bat...
...                                                  ...
14870               Omuggo oguli ewa munno tegugoba ngo.
14871  Omutaka Kikaawa Owoomusu ye yakomaganga embugo...
14872  Yeetuulira waka awo sikulwa ng’agwa ku mulala ...
14873    Olumala ebyo, amalookooli nga gatandika kuzina.
14874            Zino ziba za kumukulisa maaso ga ntamu.

[97273 rows x 1 columns]