In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [18]:
import datacompy, pandas as pd

df1=pd.read_csv('already_on_cv.csv')
df2 =pd.read_csv('upload_cv.csv')
df2.drop_duplicates()

In [19]:
df1.head()

                                            sentence
0  ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1  Emmere etali nsiike ebeera nnungi eri emibiri ...
2  Abawala abalungi baagalwa buli muntu naye abas...
3  Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4  Abayizi abatuula mu maaso batera okuba nga bat...

In [20]:
df2.head()

                                            sentence
0  Amasomero gaali gaagala nguzi okusobola okutuw...
1  Abaakawandiika baafuba okulaba nga batuusa emp...
2  Abaana bajja ku ssomero nga boogera ennimi mmeka?
3  Abaana balina okubonerezebwa nga boogedde enni...
4               Abaana basomesebwa mu nnimi ennansi.

In [21]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  38399
1       New        1   2053

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 58
Number of rows in Original but not in New: 38,341
Number of rows in New but not in Original: 1,995

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 58

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                sentence
13243         Abavubuka nabo bateekeddwa okutwala ebifo by'obukulembeze.
5505   Abavubuka bafunye obulwadde bw'okubwongo olw'okukozesa ebiragala.
23415                             Baafiirwa bazadde baabwe abaabaazaala.
27565                       Ttiimu yabadde neetegefu okulwanira ekikopo.
14262                 Emirimu gy'ekkanisa ng'egyo gyetaaga obuvujjirizi.
12167                              Abagwira bawadde amalwaliro obuyambi.
9928         Gavumenti ejja kwongera ku nsimbi z'essa mu kulima ebinazi.
3162                                          Omusajja tabalirwa nzaalo.
17818                             Yannakuwala nnyo olw'okufa kwa bbaawe.
14646         Akakiiko akaddukanya essomero kaasabye wabeerewo olukiiko.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                      sentence
38882                     Okutongoza obutabo bwabwe awamu n’okukyusa obukulembeze bw’Ekibiina.
40254  Omwana alina okumanya ebintu ebiyinza okumutuusaako obulabe wamu n’engeri y’okubyewala.
39383                                                Ebyayi ebifumbisiddwako biyitibwa ebisebo
40386                    Weewale bulijjo okwogera n’omuntu yenna nga okutte mu nsawo z’empale.
39118                                                                  Alina enkeka simulojja,
39090                                                                   Obubbi obutwetoolodde.
39798                                                   Omusango ogwekwanya ku kutunda ebintu.
39319                    Amabeere agatera okumera ku bifuba by’abasajja gayitibwa nambaalaala.
39420                  Ekituli ekifulumya ebyayi nga tuli mu kabuyonjo kiyitibwa akawondoliro.
38595                                                         Kazooba lwe lunaku lwa "Monday".

In [11]:
#Let's print the common sentences
df3=compare.intersect_rows

In [55]:
# You can now go ahead and remove these sentences in the intersection from the new dataset

In [12]:
df3

                                                sentence _merge
28021  Ekiswa bwe kitandika okutunula, amaaso gaakyo ...   both
28025                Kye bava nno babatangira bwe batyo.   both
28026                   Kizira okwogerera mu kaabuyonjo.   both
28029                          Kino nno tewali akyagala.   both
28030                              Kino nakyo tekinyuma.   both
...                                                  ...    ...
38288  Omuzigo ogwo gwayayayirirwangamu essubi etteet...   both
38295  Omwenge guzitoya olulimi oli n’abeera nga n'eb...   both
38318        So okutangira kuno kwayambangako bwe kutyo.   both
38353  Wabula kye ssaamanya nti oba omukyala oyo yali...   both
38361                Waliwo emizizo egyekwanya n’ekyoto.   both

[67 rows x 2 columns]

In [ ]:
# Approach 1: cond = df1['Email'].isin(df2['Email'])
# df1.drop(df1[cond].index, inplace = True)
# approach 2: df1[~df1.isin(df2)].dropna()

In [28]:

ddf=df2[~df2.sentence.isin(df3.sentence)]

In [34]:
ddf

                                               sentence
0     Amasomero gaali gaagala nguzi okusobola okutuw...
1     Abaakawandiika baafuba okulaba nga batuusa emp...
2     Abaana bajja ku ssomero nga boogera ennimi mmeka?
3     Abaana balina okubonerezebwa nga boogedde enni...
4                  Abaana basomesebwa mu nnimi ennansi.
...                                                 ...
2048  Amasomero gakozesa Lungereza ng’olulimi mwe ba...
2049                            Yambala bulungi onyume.
2050  Omwana yabuuza omugenyi nti, "Kiki ggwe muzeey...
2051  Yamulagira atuule ku kifugi w’aba amulindira o...
2052  Yuganda tennaba kulaga ndowooza yaayo nzijuvu ...

[1995 rows x 1 columns]

In [35]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
ddf,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  38399
1       New        1   1995

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 0
Number of rows in Original but not in New: 38,399
Number of rows in New but not in Original: 1,995

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                         sentence
28469                                                                       Omwana ono abeera wa?
25327                                                       Mu ssomero mulimu ebyewuunyisa bingi.
16741                  Bapulezidenti b'amawanga g'obuvanjuba bwa Africa babadde n'olukiiko leero.
21779  Lwaki okufumbirwa ku myaka emito n'okukabasannyizibwa bikyaali by'amaanyi mu bukiikakkono?
26608                                                        Obufunda bw‚Äôensawo kiba kibi nnyo.
6016                                        Abantu baakugoberera ebiragiro ebyabawebwa gavumenti.
36980                                                     Eddoboozi lye lirimu eggono ng'ayogera.
3074                                        Omubiri gw'omukadde gwawukana n'omubiri gw'omuvubuka.
18976                                        Abasiraamu basabiddwa okwewala ebikolwa eby'effujjo.
3743                                      Twayingira mu kawooteeri nga mulimu abantu batono nnyo.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                   sentence
39191      Bw’obeera e Kira e Namugongo nga gy’osoma, olengera Mbuya, Kololo ne Kkulambiro.
39349                       Bapima ekigero omuntu ali wansi w’asobola okutuukira ku muguwa.
39947                 Amasomero gonna gaalaga nti galina layisinsi wadde abamu tebaagiraga.
38441                 Amasomero mu budde obwo gaali gagaddewo olwo nga bagenda mu luwumula.
39870      Waaliwo omusuubuzi eyali abanja abanja omugagga ensimbi nga zimulemye okusasula.
38576  Kale nno sooka osiriikirire weebuuze nti, "Naye ddala lwaki nywa omwenge oba sigala?
39076                                            Bwe bagula ebya ssava, weekoomera kawoowo.
38928                                                                 Ebidongo bisindogoma.
39527                                                     Entanyeenya kye ki ku mubiri gwo?
40390                                                               Yambala bulungi onyume.

/Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages/datacompy/core.py:239: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df2[order_column] = generate_id_within_group(self.df2, temp_join_columns)
/Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [36]:
df5=compare.intersect_rows

In [37]:
df5

Empty DataFrame
Columns: [sentence, _merge]
Index: []

In [39]:
ddf.to_csv('batch.csv')