In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [4]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv12.csv',index_col=None)
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
#df1 = df1.loc[:, ~df1.columns.str.contains('^unnamed')]
df2 =pd.read_csv('../all-cv-data/lug-32.csv',index_col=None)

In [5]:
df1.head()

                                            sentence
0  ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1  Emmere etali nsiike ebeera nnungi eri emibiri ...
2  Abawala abalungi baagalwa buli muntu naye abas...
3  Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4  Abayizi abatuula mu maaso batera okuba nga bat...

In [6]:
df2.head(10)

                                            sentence
0            Tujja kubeera mu nnyumba yaffe kumakya.
1                     Ka tugende mu maaso ne Tuwaye.
2           Ndi n’Oweekitiibwa Joseph Mulwanyammuli.
3  Noolwekyo musajja wattu nga kizibu okubeera ng...
4  Noolwekyo ye nga Kabaka ng’andaba nga nze Kati...
5  Toyinza kuyitibwa Katikkiro okuggyako ng’olina...
6  Mu Bwakabaka bwa Buganda nga temuli kintu amyu...
7            Nga mulimu Katikkiro, obeera Katikkiro.
8               N’ekirala, simanyi oba wakimanyaako?
9  Ebyafaayo ebimu bye tusoma bigamba abantu abaa...

In [7]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [8]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  82866
1       New        1   3955

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 12
Number of rows in Original but not in New: 82,854
Number of rows in New but not in Original: 3,943

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 12

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                                    sentence
76708                                 Eddaala eriddako kwe kusalawo bimera oba bika bya nsigo ki ez’okulima.
58622                                 Wabula Kabatsi yategeezezza nti abatuula ku boodi eno bonna bali waka.
80431                                              Yateeka ab'omu maka ge mu piikaapu ne boolekera mu kyalo.
65794                                     Mami kye yava aseka era yambuuza nti, "wafunyeeyo akunyonyoogera?"
81203  Omuntu omulala agambibwa okwenyigira mu bulumbaganyi obwakolebwa ku Gen. Katumba Wamala avunaaniddwa.
40812                     Omwana asobola okunnyonnyola enfaanana y'ebintu eby’enjawulo singa aba abikutteko.
64495                                                      Omukungu mu kukola ku nsonga z'abaana mu kitundu.
82782                            Abaana bakole nnyo ate bayambe abalala abatalina mukisa nga bo gwe bafunye.
66053                                     Obadde okimanyi bulungi nti n'ekisawo ky'ataliiwo kijjula mayinja?
81169                                                                     Okulwanyisa Covid -kumi na mwenda.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                                 sentence
84018                             Tayagalira ddala kujja mu kiseera kino; naye alijja bw'alifuna ebbanga.
84130                                                            Bali mu nju ey'omwami Amosi balya mmere.
85917           Baabimuumunyamuumunyaamu nga Nangobi okudda e Nnaakulabye ewa Kirimuttu nga ddala kizibu.
86723                                     Toyinza kuddamu kulaba ku bbulooka ng'amaze okuteeka ku ttaka.
85287  Paalamenti yamala na kuggya kawaayiro mu tteeka eryali liremesa Eyadema okuddamu okusaba ekisanja.
83734          Bwe muba n'okusala emisango egy'omu bulamu buno, abanyoomebwa mu kkanisa abo be muteekawo?
84478                               Eddiini ennansi yafuna ettutumu; engwira ettutumu lyazo ne liddirira.
83829                                                Eyayitibwa ng'omuddu, aweebwa Mukama waffe eddembe.
83286                 Nja kuweereza Palamenti mu ngeri ey’obuvunaanyizibwa, nja kubeera sipiika wa bonna.
84400                                                          Buganda yalina Gavumenti etatendwa bukugu.

In [9]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [10]:
# Let us print the sentences already on CV as table 3
df3

                                                sentence _merge
76269  Ekitundu ekisooka kiikino nga bwe yabinyumiriz...   both
76273  Kino kyannemesa ne ntandika okukomanga mu kkub...   both
76275  Ku ye kwe nasookera okulaba ekibookisi ekivaam...   both
76278  Nalina n’ekizibu mu kugatta ennukuta okukola e...   both
76279  Natuukira wa mwannyinaze e Kasubi ne mmalayo e...   both
76283  Okukola ekyejo ku Ssaalongo oba Nnaalongo waki...   both
76284  Okuva olwaleero Bukedde ku Ssande agenda kukut...   both
76285  Okuva olwo ntya ekiyitibwa amazzi era nze sita...   both
76289  Rugumayo bwe twamuloopera yaddamu kimu nti baa...   both
76292  Wabula wadde amata gaalinga mangi, nabbanga ol...   both
76293  Wadde awaka waaliwo abapakasi, okukola emirimu...   both
76294  Waliwo abalowooza nti sitya Katonda naye mmuty...   both

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [11]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [12]:
# New table with no sentence already on CV
df4

                                               sentence
0               Tujja kubeera mu nnyumba yaffe kumakya.
1                        Ka tugende mu maaso ne Tuwaye.
2              Ndi n’Oweekitiibwa Joseph Mulwanyammuli.
3     Noolwekyo musajja wattu nga kizibu okubeera ng...
4     Noolwekyo ye nga Kabaka ng’andaba nga nze Kati...
...                                                 ...
3951  Yamukakasa nti omusajja gw'alina tayina ssente...
3952  Mumbejja we yabirowooreza yali atambula kyokka...
3953  Yalowooza nti Ssengaawe ajja kumusaasira aleme...
3954  Bambi yakootakoota mu galumonde era sabbiiti o...
3955  Enkya lwa muwala wange Cissy ndabe naye bwe ye...

[3943 rows x 1 columns]

In [13]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-thirty-two.csv',encoding='utf-8', index=False)

In [14]:
#LEt's now get a txt for uploading to Common Voice
data = pd.read_csv('lug-batch-thirty-two.csv', encoding='utf-8')
with open('lug-batch-thirty-two.txt','a+', encoding='utf-8') as f:
    for line in data.values:
        f.write((str(line[0])+'\n'))

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [15]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [16]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
3951  Yamukakasa nti omusajja gw'alina tayina ssente...
3952  Mumbejja we yabirowooreza yali atambula kyokka...
3953  Yalowooza nti Ssengaawe ajja kumusaasira aleme...
3954  Bambi yakootakoota mu galumonde era sabbiiti o...
3955  Enkya lwa muwala wange Cissy ndabe naye bwe ye...

[86809 rows x 1 columns]

In [17]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv13.csv',index=False)

In [18]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv12.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted

In [35]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
2516  Abakulembeze okuva mu Bwakabaka bwa Buganda ba...
2517  Ensisinkano eno yeetabiddwamu Katikkiro Charle...
2518      Bayogedde bingi ku ngeri bbanka y’ensi yonna.
2519  Bino byabaddewo oluvanyuma lw’olukungana lwa B...
2520        Yannyonnyola ensonga y’okutereeza obusenze.

[82866 rows x 1 columns]