In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [40]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv9.csv',index_col=None)
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
#df1 = df1.loc[:, ~df1.columns.str.contains('^unnamed')]
df2 =pd.read_csv('../all-cv-data/lug-batch-twenty-eight.csv',index_col=None)

In [41]:
df1.head()

                                            sentence
0  ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1  Emmere etali nsiike ebeera nnungi eri emibiri ...
2  Abawala abalungi baagalwa buli muntu naye abas...
3  Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4  Abayizi abatuula mu maaso batera okuba nga bat...

In [42]:
df2.head(10)

                                            sentence
0  Akatabo akaluŋŋamya abasuubuzi ku ngeri y'okug...
1  Emigabo mu katale k'ekitongole kya Yuganda eki...
2  Abantu bangi mu Uganda bamanyi katono nnyo ku ...
3  Obutale bw'emigabo bubaddewo mu Afirika okumal...
4  Tebannaba kumanya bulungi ngeri gye bayinza ku...
5  Engeri gye bakolamu n'engeri gye bayinza okuba...
6  Abantu batono nnyo mu Uganda abeetaba mu bikwa...
7  Okugula n'okutunda emigabo mu butale buno si k...
8   Ensonga y'obutale bw'emigabo mpya nnyo gye bali.
9  Akatabo kano kajja kuddamu ebibuuzo ebitera ok...

In [43]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [44]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  67495
1       New        1   4322

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1
Number of rows in Original but not in New: 67,494
Number of rows in New but not in Original: 4,321

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 1

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                              sentence
12342           Ekitongole kiteekateeka okusomesa ebikwata ku kawuka ka ssenyiga omukambwe mu kitundu.
44767                                Noolwekyo si kya magezi kumala gatomera muntu gw’osanze mu kkubo.
62178                                                          Abantu abamu baamala dda okubayimbulwa.
11720                         Abakulembeze balina obusobozi okukyusa obulamu bw'abantu be bakulembera.
65581       Enkeera omukyala baamusiibula mu ddwaliro bambi bwe yali agenda n'ampaayo emitwalo etaano.
62565                                               Omutwala ng'ani ssebo, sooka weyanjule mu kitundu.
64438                                Era mwe gakolera ennyo ku nkwajjirira kinnamwanyi we zibeererawo.
13994                                                                       Ateeberezebwa yakwatiddwa.
49085  Ekyo kiyinza okufaanana ng’olugero, naye kituufu era kya mazima ne mu bantu bwe kityo bwe kiri.
22775                                                    Ebyobuwangwa tebisomesebwa wabula bikwatibwa.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                        sentence
71377     Omuweereza olwalengeranga kasitoma, n'ayita mukama we.
69984                Yamutwala okusoma eddiini ku myaka musanvu.
71311        Eddiiro telyalimu ntebe za sofa nga ye bwe yagamba.
69936                         Baabatuukako nga bonna baudde eri.
70646         Taata amugambye amuyambeko ku by'omukolo gw'enkya.
70631                             Hajati yagenda akaaba bukaabi!
70579                       Era n'engoye ze ezimu teyazisangamu.
71386   Omuzannyo nga guwedde,baatambula mpolamola ne badda eka.
69872  Amazina bwe gaggwa, abantu bonna ne batandika okudda eka.
70459       Ebintu bwe byaggwangamu nga batumya okuva e bulaaya.

In [45]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [46]:
# Let us print the sentences already on CV as table 3
df3

                                     sentence _merge
25853  Lubaale mbeera nga n'embiro kw'otadde.   both

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [47]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [48]:
# New table with no sentence already on CV
df4

                                               sentence
0     Akatabo akaluŋŋamya abasuubuzi ku ngeri y'okug...
1     Emigabo mu katale k'ekitongole kya Yuganda eki...
2     Abantu bangi mu Uganda bamanyi katono nnyo ku ...
3     Obutale bw'emigabo bubaddewo mu Afirika okumal...
4     Tebannaba kumanya bulungi ngeri gye bayinza ku...
...                                                 ...
4317                         Weebale kwambala n'onyuma.
4318                     Laba abawala abato abanyirira.
4319               Otera kugula wa ebintu by'omunyumba?
4320                Wali obaddeko wano ng'abuuza Hajji?
4321  Bw'owulira ng'owuubadde ojja n'onsanga ku dduuka.

[4321 rows x 1 columns]

In [50]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-twenty-eight.csv',encoding='utf-8', index=False)

In [51]:
#LEt's now get a txt for uploading to Common Voice
data = pd.read_csv('lug-batch-twenty-eight.csv', encoding='utf-8')
with open('lug-batch-twenty-eight.txt','a+', encoding='utf-8') as f:
    for line in data.values:
        f.write((str(line[0])+'\n'))

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [52]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [53]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
4317                         Weebale kwambala n'onyuma.
4318                     Laba abawala abato abanyirira.
4319               Otera kugula wa ebintu by'omunyumba?
4320                Wali obaddeko wano ng'abuuza Hajji?
4321  Bw'owulira ng'owuubadde ojja n'onsanga ku dduuka.

[71816 rows x 1 columns]

In [54]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv10.csv',index=False)

In [55]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv9.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted

In [57]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
4317                         Weebale kwambala n'onyuma.
4318                     Laba abawala abato abanyirira.
4319               Otera kugula wa ebintu by'omunyumba?
4320                Wali obaddeko wano ng'abuuza Hajji?
4321  Bw'owulira ng'owuubadde ojja n'onsanga ku dduuka.

[71816 rows x 1 columns]