In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [4]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv10.csv',index_col=None)
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
#df1 = df1.loc[:, ~df1.columns.str.contains('^unnamed')]
df2 =pd.read_csv('../all-cv-data/lug-batch.csv',index_col=None)

In [5]:
df1.head()

                                            sentence
0  ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1  Emmere etali nsiike ebeera nnungi eri emibiri ...
2  Abawala abalungi baagalwa buli muntu naye abas...
3  Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4  Abayizi abatuula mu maaso batera okuba nga bat...

In [6]:
df2.head(10)

                                            sentence
0  Bangambye nti temuli buzibu bwonna era bijja k...
1  Yakanze kubuuza ekimutwaza mu kkomera naye nga...
2  Topapa byonna ngenda kubikunyumiza nga bwe bya...
3  Omululu omwana oyo gwe yasitula tasobola kulek...
4  Sirowooza nti baagala okulaba omuntu yenna ava...
5  Abaana baffe bangi ne baweererwa mu masomero g...
6  Abalala bagamba tusomeseze abaana baffe mu nni...
7  Abayizi emitwalo esatu be baganyulwa mu nsawo ...
8  Abo bbo nga basasulwa ate ffe abakola omulimu ...
9  Abantu abo nga balina ebisaanyizo ebiteekwa ok...

In [7]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [8]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  71816
1       New        1   8877

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1
Number of rows in Original but not in New: 71,815
Number of rows in New but not in Original: 8,876

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 1

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                     sentence
2007                      Waliwo omuntu ayinza okkusiikira muwogo ng'awooma ate nga takaluba.
45875  Engero zaffe tuleme kuzisuulirira era tufube okuzikozesa mu njogera zaffe eza bulijjo.
41952                                                   Ono Jaaka ye muvubi abeera e Naminya.
64161                                                             Ye muntu omwavu oba luboje.
68837                                     Katikkiro wa Kalema ye Muguluma ow'ekika ky'Enjovu.
67061                                    Ggwe mugezi wekka, ne ku mulimu toyagala akugambako.
55500                                         Ekizibu bwe kyekalirizibwa era ne kikolebwako.
2142                               Bw'ogwa mu mukwano n'omukyala akusinga obwongo oba owedde.
19498                                           Abantu b'omu byalo bagabana amazzi n'ebisolo.
27383                  Abantu balina okukkirizibwa okuwaayo okusobola okukulaakulanya ekintu.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                     sentence
76248                  Naye kisoboka okuba ng'omanyi omwagalwa wo okuva ku mutwe paka kagere?
74948                                   Sseggwanga gy'akomya okwereega, gy'akomya n'emiwuula.
72605                                                       Ayizisa magezi, so ssi bujjukizi.
77882  Nga nkyayimiridde awo mpuniikiridde nawulira kaggo ka muzibe nga kagenda kakoonakoona.
74574                                                Oli ng'atereeza nnyonyi ye nga beggyawo.
72647                                       Balaba ggoolo gye bateebye, ne baliyita eggwiiso.
74560                                                           Olaba bulijjo ebigenda awamu.
77010                   Wano waliwo pulaani y’ennyingiza n’enfulumya ya ssente eya bizinensi.
76237                        Katonda agenda kutubuuza ku ngeri gye twawangaalamu ku nsi kuno.
73440                                      Kibuuza kintu, engeri yaakyo, enfaanana n'obunene.

In [9]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [10]:
# Let us print the sentences already on CV as table 3
df3

               sentence _merge
52963  Akola mulimu ki?   both

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [11]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [12]:
# New table with no sentence already on CV
df4

                                               sentence
0     Bangambye nti temuli buzibu bwonna era bijja k...
1     Yakanze kubuuza ekimutwaza mu kkomera naye nga...
2     Topapa byonna ngenda kubikunyumiza nga bwe bya...
3     Omululu omwana oyo gwe yasitula tasobola kulek...
4     Sirowooza nti baagala okulaba omuntu yenna ava...
...                                                 ...
8881  Olw’ensonga nti abakazi bakosebwa nnyo entalo ...
8882  Kya mazima abasajja tebalowooleza ddala nti n’...
8883  Kino nno kyongera okujabagiza embeera anti naf...
8884                        Embeera eno erina okukyuka.
8885  Wagira okwetaba kw’abakazi mu kutangira obusam...

[8876 rows x 1 columns]

In [13]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-twenty-nine.csv',encoding='utf-8', index=False)

In [14]:
#LEt's now get a txt for uploading to Common Voice
data = pd.read_csv('lug-batch-twenty-nine.csv', encoding='utf-8')
with open('lug-batch-twenty-nine.txt','a+', encoding='utf-8') as f:
    for line in data.values:
        f.write((str(line[0])+'\n'))

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [15]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [16]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
8881  Olw’ensonga nti abakazi bakosebwa nnyo entalo ...
8882  Kya mazima abasajja tebalowooleza ddala nti n’...
8883  Kino nno kyongera okujabagiza embeera anti naf...
8884                        Embeera eno erina okukyuka.
8885  Wagira okwetaba kw’abakazi mu kutangira obusam...

[80692 rows x 1 columns]

In [17]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv11.csv',index=False)

In [18]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv10.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted

In [19]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
8881  Olw’ensonga nti abakazi bakosebwa nnyo entalo ...
8882  Kya mazima abasajja tebalowooleza ddala nti n’...
8883  Kino nno kyongera okujabagiza embeera anti naf...
8884                        Embeera eno erina okukyuka.
8885  Wagira okwetaba kw’abakazi mu kutangira obusam...

[80692 rows x 1 columns]