In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [18]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv1.csv')
df2 =pd.read_csv('../all-cv-data/all_sentences.csv')

In [19]:
df2.head(10)

                                            sentence
0  Mu masinzizo kikolebwa musumba oba omuntu yenn...
1                         Ssaabasajja gutusinze nnyo
2       Ssaabasajja kikozesebwa ku Kabaka wa Buganda
3     Okubuguumirira kwe kulaga essanyu eriyitiridde
4                     Nnyanzi lugero obutabuusabuusa
5        Wasuze otya? kikozesebwa ku budde obwenkya
6                               Osiibye otya nnyabo?
7                Nga oli yaliko ekyamukolwa ekikyamu
8             Kikozesebwa ku muntu okugeza ono, oyo.
9                                 Ani oyo akonkonye?

In [20]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [21]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        2  47083
1       New        1   1907

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 1
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 10
Number of rows in Original but not in New: 47,073
Number of rows in New but not in Original: 1,897

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 10

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

       unnamed: 0                                                                                     sentence
43006     43006.0               Akuyamba okuvvuunuka obuzibu ate era nakuwa n’amagezi obutadda mu nsobi yeemu.
45797      1163.0                                  Omwana ebigezo ebyo byamuyisa bubi nnyo wadde nga yabiyita.
1931       1931.0  Omu ku balimi abasinga mu kitundu kyaffe asangiddwa nga munoonyereza nnyo kw'ebyo by'alima.
34107     34107.0                                                                Ebikwata ku nnono z'ebigambo.
15122     15122.0         Minisitule y'ebyobulamu etaddewo abasawo baayo abakugu okumalawo omusujja gw'enkaka.
34937     34937.0                                                     Waliwo okwogera okunyuvu  n'okusikiriza.
32496     32496.0                                                        Amafumitattaka ge Matungulu amasajja.
15614     15614.0                                                     Tetusobola kuba baddu mu ggwanga lyaffe.
44170     44170.0                               Omuwala bwe yawezanga emyaka kkumi ng'atwalibwa ewa ssengaawe.
34404     34404.0      Kozesa akapiira bw'oba nga tosobola kwewala kwegatta weetangire embuto z'oteeyagalidde.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                        sentence
47760                       Abantu beesabira Federo ate ne babawa Regional tier.
47279                        Kikyusiddwa okuva mu Lungereza okukizza mu Luganda.
47694                       Biki ebyekalirizibwa oba ebitunuulirwa mu bitontome.
47728                                    Eno y'engeri y’okuwandiikamu ekitontome
47328                 Simanyidde ddala oba nga biba binoonya empewo ey'enjawulo.
48073                                                        Ennyumba tepapirwa.
48559        Akasozi musajja mukozi kubanga asobodde okuweerera abaana be bonna.
48465       Abantu tubasasuza obusuulu obutasukka mitwalo ebiri buli wa kibanja.
48216                                     Otulo gwe tuveeko tukijjanya bannange.
47383  Okulaba omugaso gw’ennyinyonnyloero eyo mu kugombolola ebizibu nnambeera.

In [22]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [23]:
# Let us print the sentences already on CV as table 3
df3

       unnamed: 0                                           sentence _merge
2634       2634.0                               Osiibye otya nnyabo?   both
27932     27932.0                            Kabaka tamanyi birungi.   both
28454     28454.0               Serengeta wammanga awo basse ensava.   both
33351     33351.0                   Byafaanagana ne byawula amannya.   both
34334     34334.0                Empologoma nagisibya ebyenda byayo.   both
34968     34968.0                     Zinga enkata nkutikke omuliro.   both
38735     38735.0          Nnazimba ennyumba yange eriko omuti gumu.   both
39896     39896.0                Basse bannange nze nsigadde nzekka.   both
40116     40116.0                       Kabaka ali mu basirikale be.   both
43885     43885.0  Ekirala olw’okuba nti mu kibira mubeeramu enzi...   both

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [24]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [25]:
# New table with no sentence already on CV
df4

                                               sentence
0     Mu masinzizo kikolebwa musumba oba omuntu yenn...
1                            Ssaabasajja gutusinze nnyo
2          Ssaabasajja kikozesebwa ku Kabaka wa Buganda
3        Okubuguumirira kwe kulaga essanyu eriyitiridde
4                        Nnyanzi lugero obutabuusabuusa
...                                                 ...
1902                     Empiso eruma wadde nga ewonya.
1903                                 Empiso ekola etya?
1904                      Ani asobola okukozesa empiso?
1905      Ekiseera eky’okutandikiramu okukozesa empiso.
1906             Maama wange ayagala nnyo abaana abato.

[1897 rows x 1 columns]

In [26]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-twenty.csv',encoding='utf-8', index=False)

In [27]:
#LEt's now get a txt for uploading to Common Voice
data = pd.read_csv('lug-batch-twenty.csv', encoding='utf-8')
with open('lug-batch-twenty.txt','a+', encoding='utf-8') as f:
    for line in data.values:
        f.write((str(line[0])+'\n'))

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [28]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [29]:
new_data_on_cv

      unnamed: 0                                           sentence
0            0.0  ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1            1.0  Emmere etali nsiike ebeera nnungi eri emibiri ...
2            2.0  Abawala abalungi baagalwa buli muntu naye abas...
3            3.0  Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4            4.0  Abayizi abatuula mu maaso batera okuba nga bat...
...          ...                                                ...
1902         NaN                     Empiso eruma wadde nga ewonya.
1903         NaN                                 Empiso ekola etya?
1904         NaN                      Ani asobola okukozesa empiso?
1905         NaN      Ekiseera eky’okutandikiramu okukozesa empiso.
1906         NaN             Maama wange ayagala nnyo abaana abato.

[48980 rows x 2 columns]

In [30]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv2.csv')

In [31]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv1.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted