In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [23]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv13.csv',index_col=None)
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
#df1 = df1.loc[:, ~df1.columns.str.contains('^unnamed')]
df2 =pd.read_csv('../all-cv-data/lug34.csv',index_col=None)

In [24]:
df1.head()

                                            sentence
0  ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1  Emmere etali nsiike ebeera nnungi eri emibiri ...
2  Abawala abalungi baagalwa buli muntu naye abas...
3  Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4  Abayizi abatuula mu maaso batera okuba nga bat...

In [25]:
df2.head(10)

                                            sentence
0                              Abaana baffe bampisa.
1  Abagaba emirimu abasinga obungi baagala nnyo e...
2     Abagole beevuze kubanga ddereeva yeebuzizzawo.
3  Abantu abaabulijjo bawandiika kiraamo ate ye k...
4  Abantu mu bbaluwa zino baba bagezaako okuwa en...
5  Bafuba nnyo okulaba ng'abasajja abakulu tebawa...
6  Omuntu yenna okukola ensobi neyeetonda kiba ki...
7  Abayizi abamu bakola ensobi ne bawandiika embo...
8  Abayizi bange abasinga bonna bamanyi okuwandii...
9             Ab'eddira embogo be bakongojja kabaka.

In [26]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [27]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  86809
1       New        1   2212

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 53
Number of rows in Original but not in New: 86,756
Number of rows in New but not in Original: 2,159

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 53

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                                    sentence
8654                  Gavumenti etuukiridde bannamikago ab'enjawulo okusobola okuyamba abanoonyiboobubudamu.
58209        Enanga yategeezezza nti Tegu yakubibwa emiggo ng’ennaku z’omwezi abiri mu musanvu ogw'omukaaga.
70512                                              Eky'okulya kaamulali omungi buli kaseera kyali kimuyamba.
54161  Bwo obudde bwa kafiyu busigadde ku ssaawa ssatu ezeekiro okutuukira ddala ku kkumi n'emu n’ekitundu.
30598                                                     Omu ku balimi abagundiivu ennimiro ye yalambuddwa.
408                                        Nze ate nnatambula nnyo kubanga ebintu byonna baali babituma nze.
76511                                   Okwongera okwekenneenya abasomesa bye bakola kiyinza nakyo okuyamba.
68978                                                            Okulambula yakumala mu January omwaka ogwo.
3106                                                             Omwana ayonoonye ekipande ky'okumugemerako.
31018                        Okududa kwe kwonooneka kw'ekyokulya ng'ekyennyanja nga kibadde tekinnafumbibwa.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                          sentence
88668                                Ne mu mbeera eza bulijjo tutera okukozesa ekigambo ekikokyo.
87449                                                                      Enfo ziyambye bwe ziti.
87998                                                         Bakkufu bagevvu nnyo mpa kye bajula.
87133                                             Teekako amannya go mu bujjuvu mu nnukuta ennene.
87308                                Abasomesa bamala gatonnyeza nti omwana waali ate nga taliiwo.
87622            Okukubiriza abakulembeze okussa ekitiibwa mu bannaddiini n’okukuuma ebyobuwangwa.
87169                                                                      Twala ono omwana owuwo.
87978                           Siyinza n’akatono kunnyonnyola obuzibu bwe nalimu mu kaseera kano.
88192                                                   Ebyaggyibwangamu ensimbi byonna byattibwa.
87766  Soma omweso ogukuweereddwa n’oluvannyuma oddemu ebibuuzo ebikuweereddwa ku nkomerero yaago.

In [28]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [29]:
# Let us print the sentences already on CV as table 3
df3

                                                sentence _merge
28454               Serengeta wammanga awo basse ensava.   both
29485                              Omuti gugudde be ddu.   both
29550                    Ekibbo kye kinyigirwamu emmere.   both
33351                   Byafaanagana ne byawula amannya.   both
36874  Waaliwo abantu basatu nga bagenda kusomoka mugga.   both
38013  Mmwe baana mmwe, mugende muleekaanire eri ku k...   both
38141  Ofuba bufubi kulaba nti buli kiseera mubeera m...   both
38735          Nnazimba ennyumba yange eriko omuti gumu.   both
39117  Kale nno baalaba nti ekyo kiyinza okwesittaza ...   both
39896                Basse bannange nze nsigadde nzekka.   both
40116                       Kabaka ali mu basirikale be.   both
42954  Abaganda tebakkiriza muntu yenna kuwasa oba ku...   both
43014  Amanya amalala mangi mu butuufu aganyuma okwog...   both
43037  Awatali linnyo awagikawo lulimi nalyoka amwa e...   both
43137  Buganda tulina ebika bya ngeri ssatu omuntu ye...   both
43155  Buli lw’obanga oyogera n’omuntu akusingako wee...   both
43176  Bulijjo bw’obeera nga weeyayamula oba kuyite o...   both
43179  Bulijjo fubanga nnyo okulaba nti ossa mu mukam...   both
43180  Bulijjo omuntu omukulu bw’akutumanga fubanga o...   both
43203  Bw’obanga tosobola kumanyirawo kika kye yeddir...   both
43204  Bw’obeera mu bangi awo ayinza okukangula ku dd...   both
43209  Bw’okikola mu butanwa mwemenyere era omusabe o...   both
43267  Ebisigadde oli wa ddembe okubyegazaanyizaamu e...   both
43284  Abantu abo baba balina okwegombebwa ebirwadde ...   both
43294  Ekiseke y’ennyingo esemba ku mukono olyoke otu...   both
44062  Kiri eri oyo abuuzibwa okukwataganya ekyo ekin...   both
44667             Ggwe omuwala oba omulenzi asuumuseemu.   both
44694  Kino kikyamu abazadde kye bakola era si bwe ky...   both
44711  Kiringa kyakufuna anti oli bw’abeera n’abawala...   both
44723  Kozesa ebimu ku bigambo bye twalabyeko emabega...   both
44803            Ne bw’oliba ng’okaddiye tojja kwejjusa.   both
44823  Ng’ogenda mu maaso n’okunoonya omuwala ow’okuw...   both
44910  Omuganda okuva edda nga ye muntu eyeewala okuw...   both
44930  Omuntu alina ebitambo, ebizimuzimu oba endwadd...   both
45040  Singa kakutanda ne weewangulira omufumbi w’ett...   both
45067  Sooka omanye ekika kye nga temunnaba kutandika...   both
48289  Waliwo ebintu ebitali bimu omuntu by’ayinza ok...   both
48342  Weewale okubeera mu bantu n’oggyamu engatto zo...   both
48791                      Ku ngulu ddiba munda butimba.   both
48794      Serengeta wammanga awo abaserikale bakukwate.   both
48797  Serengeta wammanga awo olabe obuwala obunyirid...   both
48802                   Kiki ekyalema omuzungu okutunga?   both
48808               Kantunuulidde kalowooza nnaakawaako.   both
48812                   E Kampiringisa tewaggwa mirambo.   both
48818      Omuzungu bwe yali ava e Bulaaya yeerabira ki?   both
48819        Lwaki nakuwandiikira ebbaluwa n’otagiddamu?   both
48821                    Taata weeraba ne maama weeraba.   both
48822       Nazimba enju yange naye nga tekuli mulyango.   both
48836  Serengeta wammanga awo osange abasajja abeesab...   both
48839  Enkumbi zange zaalima ku mimaanya naye teziken...   both
48841  Omuzinga gwewanika waggulu na guno gujwa temul...   both
50717                     Agali awamu ge galuma ennyama.   both
51639               Nnina mukazi wange aliira mu maggwa.   both

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [30]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [31]:
# New table with no sentence already on CV
df4

                                               sentence
0                                 Abaana baffe bampisa.
1     Abagaba emirimu abasinga obungi baagala nnyo e...
2        Abagole beevuze kubanga ddereeva yeebuzizzawo.
3     Abantu abaabulijjo bawandiika kiraamo ate ye k...
4     Abantu mu bbaluwa zino baba bagezaako okuwa en...
...                                                 ...
2231  Obuvune bwe yafuna bwamumazizza ennaku essatu ...
2232  Basanze amaaso ga Besigye galiko enkwagulo olu...
2233  Enkwata ya Besigye yabadde mbi nnyo okusinziir...
2234  Naye kennyini akyebuuza lwaki baamuyisizza ng’...
2235  Naye bagamba nti Museveni ne Besigye bali munt...

[2159 rows x 1 columns]

In [32]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-thirty-four.csv',encoding='utf-8', index=False)

In [33]:
#LEt's now get a txt for uploading to Common Voice
data = pd.read_csv('lug-batch-thirty-four.csv', encoding='utf-8')
with open('lug-batch-thirty-four.txt','a+', encoding='utf-8') as f:
    for line in data.values:
        f.write((str(line[0])+'\n'))

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [34]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [35]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
2231  Obuvune bwe yafuna bwamumazizza ennaku essatu ...
2232  Basanze amaaso ga Besigye galiko enkwagulo olu...
2233  Enkwata ya Besigye yabadde mbi nnyo okusinziir...
2234  Naye kennyini akyebuuza lwaki baamuyisizza ng’...
2235  Naye bagamba nti Museveni ne Besigye bali munt...

[88968 rows x 1 columns]

In [36]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv14.csv',index=False)

In [37]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv13.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted

In [38]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
2231  Obuvune bwe yafuna bwamumazizza ennaku essatu ...
2232  Basanze amaaso ga Besigye galiko enkwagulo olu...
2233  Enkwata ya Besigye yabadde mbi nnyo okusinziir...
2234  Naye kennyini akyebuuza lwaki baamuyisizza ng’...
2235  Naye bagamba nti Museveni ne Besigye bali munt...

[88968 rows x 1 columns]