In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [30]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv3.csv')
#df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
#df1 = df1.loc[:, ~df1.columns.str.contains('^unnamed')]
df2 =pd.read_csv('../all-cv-data/Batch.csv')

In [31]:
df1

       Unnamed: 0                                           sentence
0               0  ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1               1  Emmere etali nsiike ebeera nnungi eri emibiri ...
2               2  Abawala abalungi baagalwa buli muntu naye abas...
3               3  Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4               4  Abayizi abatuula mu maaso batera okuba nga bat...
...           ...                                                ...
49825         958  Bw'oba onaaba oteekwa okuba n'amazzi, ekyangwe...
49826         959  Bano bavudde ku butonde, mu butonde enviiri ez...
49827         960  So n‘okuva kaakati kimanye nti okwessa ku ngoy...
49828         962  Fumiitirizaamu singa ogwa ku kabenje, oba kale...
49829         964  Abantu bangi ensangi zino bakozesa omwenge nad...

[49830 rows x 2 columns]

In [16]:
df2.head(10)

                                            sentence
0  Abamu beekapika obugoye obubalippa nga bw‘olek...
1  Omuntu bwaba nga yakava mu kiyungu okuteekatee...
2  Singa baakizuulanga nti omuwala oyo taliiko ki...
3  Mubuuze mu ddoboozi eryeggonjebwa nti, "Omukul...
4  Buli muntu mu maka omwo, atuula okwetoloola ek...
5  Bulijjo fuba nnyo okulaba nti akafo ako kayonj...
6  Mu nkyukakyuka ze twalabye mwe muli, omuvubuka...
7  Afuba okulaba nti alimbira ddala nga bwekisobo...
8  Mu abo be tutwalanga mikwano gyaffe waliwo ate...
9  Bw'oba ng'oyagala emirembe, olina okubeera n'e...

In [17]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [18]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  48980
1       New        1    965

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 115
Number of rows in Original but not in New: 48,865
Number of rows in New but not in Original: 850

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 115

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                                       sentence
46417           Kirabikira ddala nga kiba kya kusomooza eri omwana okubeera ng’ayigira mu Lulimi olutali lulwe.
31230                                       Oyo bwe yali olubuto yakyawa ebintu byonna nga tayagala kubirabako.
48758  Kizira omuntu okuddira emmere n’agikasuka okukuba omuntu era kyogerwa nti omuntu bw’akikola enjala egwa.
33660                                                         Enju kabaka mw'akomagira eyitibwa Njagalakasaayi.
21178                                                               Olina okwambala akapiira buli lwe weegatta.
14422                          Gavumenti eyongezza emisaala gy'abakozi b'ebyobulamu okutandika n'omwezi ogujja.
3121                                                                           Mwana ki ayonoonye entebe zange?
11009                              Embeera tujja kugikwasaganya era n'omuwendo gw'abajanjabi gujja kweyongerako
14995                    Ba mmemba ba paalamenti baasanyuka nga paalamenti eyisizza ebibuga ebipya mu ggwanga .
44758                            Noolwekyo nga mu mwezi ogwo abantu nga mwe bagulira ensigo zaabwe ez'okusimba.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                            sentence
49427                 Ky'ova olaba nti omuntu ali mu tulo otungi tugamba nti ali mu "matta nsejjere"
49340   Tusoma ku basajja abajja eri kabaka nga bamuleetedde obubaka era nga waaliwo eyali abatumye.
49499                 Abantu be boogera nabo, mu ddiini gye basoma, ssaako n'amasomero gye basomera.
49364  Ziyitibwa zityo kubanga amasiga agafumbirwangako emmere, essaawa ezo gaabanga gamaze okuwola.
49054                Abamu tebaagala kubeera nabufo obwo, naye oyo atakalina ensangi zino zimusanze.
49296                   Naye ggwe bw'onooyagala okweyisa otyo ng'empewo gye zifuuyira naawe gy'odda.
49359   Bwaba ng'ayagala bakulu era ng'agenda mangu ate nga nabo tebaliwo awo simanyi kyakukukolera.
49746                            Singa baleka wayonjo, omulala agenda okugendayo asanga nga wayonjo.
49036                          Buli kimu kirina okukolebwa mu kiseera ekituufu era mu kifo ekituufu.
49027                                        Ggwe towulira bwe bagamba nti, omutamiivu tabaaga mbwa?

In [19]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [20]:
# Let us print the sentences already on CV as table 3
df3

                                                sentence _merge
38005  Mazima ye nga mu butuufu takiraba naye ng'ate ...   both
38015  Mpozzi ekirala kye sibagambye nti omusajja oyo...   both
38032  Mu kiseera kino era abalenzi we bafunira okuta...   both
38039         Mu kyo tebategeeza nti ddala takola nsobi.   both
38045  Mu mwezi ogwo edda abantu baalirangamu nnyo ka...   both
...                                                  ...    ...
45121       Tulaba nti enkyukakyuka ezo zonna za nsonga.   both
48297  Waliwo ssabbuuni owa buli kika mu nsi muno ako...   both
48335  Weebuuze nti musajja wa ngeri ki oyo ansikiriz...   both
48338  Weegendereze okutuusa nga weetegese bulungi ku...   both
48444  Yeeyisa nga bo naddala singa atwala ebbanga gg...   both

[115 rows x 2 columns]

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [21]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [22]:
# New table with no sentence already on CV
df4

                                              sentence
0    Abamu beekapika obugoye obubalippa nga bw‘olek...
1    Omuntu bwaba nga yakava mu kiyungu okuteekatee...
2    Singa baakizuulanga nti omuwala oyo taliiko ki...
3    Mubuuze mu ddoboozi eryeggonjebwa nti, "Omukul...
4    Buli muntu mu maka omwo, atuula okwetoloola ek...
..                                                 ...
958  Bw'oba onaaba oteekwa okuba n'amazzi, ekyangwe...
959  Bano bavudde ku butonde, mu butonde enviiri ez...
960  So n‘okuva kaakati kimanye nti okwessa ku ngoy...
962  Fumiitirizaamu singa ogwa ku kabenje, oba kale...
964  Abantu bangi ensangi zino bakozesa omwenge nad...

[850 rows x 1 columns]

In [23]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-twenty-one.csv',encoding='utf-8', index=False)

In [24]:
#LEt's now get a txt for uploading to Common Voice
data = pd.read_csv('lug-batch-twenty-one.csv', encoding='utf-8')
with open('lug-batch-twenty-one.txt','a+', encoding='utf-8') as f:
    for line in data.values:
        f.write((str(line[0])+'\n'))

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [25]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [26]:
new_data_on_cv

                                              sentence
0    ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1    Emmere etali nsiike ebeera nnungi eri emibiri ...
2    Abawala abalungi baagalwa buli muntu naye abas...
3    Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4    Abayizi abatuula mu maaso batera okuba nga bat...
..                                                 ...
958  Bw'oba onaaba oteekwa okuba n'amazzi, ekyangwe...
959  Bano bavudde ku butonde, mu butonde enviiri ez...
960  So n‘okuva kaakati kimanye nti okwessa ku ngoy...
962  Fumiitirizaamu singa ogwa ku kabenje, oba kale...
964  Abantu bangi ensangi zino bakozesa omwenge nad...

[49830 rows x 1 columns]

In [27]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv3.csv',index=False)

In [28]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv2.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted