In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [29]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/all1.csv')
df2 =pd.read_csv('../all-cv-data/all2.csv')

In [30]:
df2.head(10)

                                 sentence
0                        History is made.
1                             Here it is.
2               When are you coming back?
3             How are you today, my love?
4  "Food , medicine, clothes are needed."
5                           Money matters
6                           Money matters

In [32]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [33]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Original        1     5
1       New        1     6

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1
Number of rows in Original but not in New: 4
Number of rows in New but not in Original: 5

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 1

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                               sentence
0                        Food is ready.
1                        We need money.
2              When are you coming back
4  Food , medicine, clothes are needed.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                 sentence
6                             Here it is.
5                        History is made.
8  "Food , medicine, clothes are needed."
7               When are you coming back?
9                           Money matters

In [34]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [35]:
# Let us print the sentences already on CV as table 3
df3

                      sentence _merge
3  How are you today, my love?   both

In [37]:
# Other approaches to already existing sentences in table 3 from table 2 ---in case the one below fails
#Approach 1: cond = df1['sentence'].isin(df2['sentence'])
# df1.drop(df1[cond].index, inplace = True)
# approach 2: df1[~df1.isin(df2)].dropna()

In [38]:
#Let us remove rows from our new dataset that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [39]:
# New table with no sentence already on CV
df4

                                 sentence
0                        History is made.
1                             Here it is.
2               When are you coming back?
4  "Food , medicine, clothes are needed."
5                           Money matters

In [41]:
#Let us now export the csv for uploading to COmmon Voice 
df4.to_csv('batch_x_upload.csv')

In [43]:
#Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
# and other symbols like é and ç. =, +,
# If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
# The rest can be removed and replced with space.
# Thanks