In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [1]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv.csv')
df2 =pd.read_csv('../all-cv-data/all_sentences.csv')

In [2]:
df2.head(10)

                                            sentence
0  Fuba nnyo okulaba ng'oddaabiriza obuliri bwo b...
1  Fuba okulaba nga toyambala lugoye olutali ludd...
2  Fuba okulaba nti buli lw'oba oyoza ebitundu eb...
3  Fuba okulaba nga mu kisenge kyo oteekamu obunt...
4  Fuba okulaba ng'omanya liri ery’ekika okwewala...
5  Fuba okulaba ng'omuwendo gw’abaana gw’ozaaala ...
6  Fuba okulaba nti, mu kunyumya okwo ne banno er...
7  Funa engeri ennungi gy’onooyogera naye eteraga...
8  Fukamira wansi oba kale tuula wansi olyoke omu...
9              Fumiitirizaamu eri abo abeebuzaabuza.

In [3]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [4]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  44634
1       New        1   2451

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 2
Number of rows in Original but not in New: 44,632
Number of rows in New but not in Original: 2,449

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 2

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                     sentence
42361                                                                   Nenziramu n'engikuba.
39473                                                                      Amataali gaggundwa
21556                     Abawagizi b'omupiira okwetooloola ensi basanyufu olwa sizoni empya.
43151  Buli lw'oba ng'onaaba, fuba okulaba nti, buli awali ennyingo onaba wo n'obwegendereza.
13856                                                     Era kijja kutaasa obudde n'ensimbi.
21676                                    Disitulikiti erina okufaayo ku buyonjo obw'omugundu.
21780                                          Tuyinza kukakasa tutya obulondoozi bw'abakozi?
14082             Kyetagisa abasomesa nabayizi okutekaamu amaanyi okusobozesa ensoma ennungi.
14992          Abakulembeze betaaga okugonjoola eddibu ery'ebbula lyemirimu mu disitulikiti .
10991                               Ebyobulambuzi bisanga okusoomozebwa olw'ebbula ly'ensimbi

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                                  sentence
45103                                                       Teyafangayo kumanya bantu ba ku ludda lwa bba.
46124                                   Beesanga ng'ebintu bya buseere ate nga bye balina okukolako bingi.
46193                            Ebiseera ebisinga amagezi g’aba nago gabeera mu Lulimi lwe oluzaaliranwa.
45938                                                                  Abakulu b’amasomero g’abaana abato.
46397                                                  Kino kiraga nti newankubadde nga waliwo okuvuganya.
46460                                                                         Kwali kusoomooza kwa maanyi.
44931                                             Omuntu atanaaba aba awunya olusu lwe tuyita akagwigiri..
46007  Ago agatalina bupande gali mu mbeera etali nnungi ate nga n’abayizi basasula obusente butono ddala.
45282                                                            Essomo lyoleka omuntu obukole bw’ekiyiiye
45965                  Abasomesa abamu baatuukibwangako nga bagamba nti bali mu kuyamba baana kwejjukanya.

In [5]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [6]:
# Let us print the sentences already on CV as table 3
df3

                                                sentence _merge
39058  Emiganyulwo gy’obupande bwe by’ebyennimu mu ma...   both
42502                           Ku luno tali mu kusaaga.   both

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [7]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [8]:
# New table with no sentence already on CV
df4

                                               sentence
0     Fuba nnyo okulaba ng'oddaabiriza obuliri bwo b...
1     Fuba okulaba nga toyambala lugoye olutali ludd...
2     Fuba okulaba nti buli lw'oba oyoza ebitundu eb...
3     Fuba okulaba nga mu kisenge kyo oteekamu obunt...
4     Fuba okulaba ng'omanya liri ery’ekika okwewala...
...                                                 ...
2446   Eyali ayagala okwesimbayo baamubako empapula ze.
2447  Mpeera omwana oyo gwe nkusindikidde ssente zange.
2448  Okufumba kuzibu nnyo era kuzibuwalira nnyo aba...
2449                      Ani ateekeddwa okulima wano ?
2450                             Tunaalabagana olulala.

[2449 rows x 1 columns]

In [9]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-nineteen.csv')

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [10]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [11]:
new_data_on_cv

                                               sentence
0     ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1     Emmere etali nsiike ebeera nnungi eri emibiri ...
2     Abawala abalungi baagalwa buli muntu naye abas...
3     Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4     Abayizi abatuula mu maaso batera okuba nga bat...
...                                                 ...
2446   Eyali ayagala okwesimbayo baamubako empapula ze.
2447  Mpeera omwana oyo gwe nkusindikidde ssente zange.
2448  Okufumba kuzibu nnyo era kuzibuwalira nnyo aba...
2449                      Ani ateekeddwa okulima wano ?
2450                             Tunaalabagana olulala.

[47083 rows x 1 columns]

In [12]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv1.csv')

In [13]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted