In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [1]:
import datacompy, pandas as pd

df1=pd.read_csv('../all-cv-data/already_on_cv14.csv',index_col=None)
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
#df1 = df1.loc[:, ~df1.columns.str.contains('^unnamed')]
df2 =pd.read_csv('../all-cv-data/final.csv',index_col=None)

In [10]:
df1.head()

                                            sentence
0  BANNAYUGANDA basabiddwa okwekemba  okukwasizaa...
1  ABAKADDE ng'abasinga balwadde bafunye akaseko ...
2  Mildred Tusasiirwe omutuuze ku kyalo Zitemwa m...
3  MAAMA Margaret Zaalwango yabugaanye essanyu ka...
4  SHARIFAH Namugerwa Mulindwa ow'e Lukaya mu Kal...

In [3]:
df2.head(10)

                                            sentence
0  Akunze abantu ba Buganda okwenyigira mu nteeka...
1  Twolekedde okugwa mu kabi kano omuli amataba n...
2  Asabye gavumenti okuzza ebibira ebiri ku ttaka...
3     Bingi bisaanyiziddwawo kuba abantu beeyongedde
4  Ettaka kwe balina okuwangaalira lisigadde nga ...
5  Omukubiriza w’abataka, ategeezezza nti omusomo...
6   Okukuuma, okutaasa n’okuzzaawo obutonde bw’ensi.
7  Ono akunze abantu bonna okwenyigira mu nteekat...
8  Kijja kutusobozesa okukuuma obulungi obutonde ...
9  Tuzze wano okwekebera n’okwefumiitiriza ku buv...

In [11]:
#remove duplicates from new dataset
df2=df2.drop_duplicates()

In [12]:
df1=df1.drop_duplicates()

In [13]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0  Original        1  283352
1       New        1  349729

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 9,587
Number of rows in Original but not in New: 273,765
Number of rows in New but not in Original: 340,142

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 9,587

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                                                                                                      sentence
34769                                                                                            Ebiseera bye twali tumanyi nti bya nkuba tekyatonnya olwâokuba tutemye emiti.
127899                                                                                                                               Lwaki weewoze ate nga ssente nazireseewo?
65549   Awo nalyoka agolokoka ne baka baana be, addeyo ngava mu nsi ya Mowaabu: kubanga yali awulidde ngali mu nsi ya Mowaabu nga Mukama bwe yajjira abantu be ngabawa emmere.
15695                                                                               Muyingo ng’akwasa omu ku bakadde ebikozesebwa mu bulamu obwabulijjo e Ssekamuli ku Ssande.
88949                                                                                    Yiika yettaka esobola okugendako ebikolo bya muwogo ebiri wakati wakasanvu nomutwalo.
254710                                                                                                                               Wano kibeera tekiyamba kuleka biwandiiko.
265722                                                                                                                                        Ekizibu tomanya ani akola n'ani?
116244                                                                                                                            Kijja kuba nsibuko ya nnyingiza eri abakulu.
251593                                                                                                                                            Otera okujja wano n'obuwala.
277596                                                                                                                       Ssirina kirwadde kyonna naye ate ndi munafu nnyo.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                                                                                                                                 sentence
557320                      akulira ebyambalirira mu ministry yebyensimbi Kenneth Mugambe ategezeza nti kino kyakanyiziddwako nga kigendereddwamu nokulwanyisa ebikolwa ebyenguzi nokubulankanya ensimbi.
458235                                                                                                                                                                      nga bonna batuuze be Nansana.
507305                                                                                                                                                                  000 era okugema kugenda mu maaso.
298713                                                                                                          MTK bakola eddagala ly’abantu n’ebisolo era nga baludde mu nsiike eno ey’okukola eddagala
379667                                                                                                           Abantu beetaaga ettaka eriwera okulima n'okulundirako okusobola okufuna amagoba agawera.
455670                                                                                                                                        Abasawo abasobola okujanjaba Bobi Wine ne Zaake webali wano
477224                                                                                                                                                                                mersin bayan escort
409940                                                                                                                                                                               4AKAPIIRA K’ABASAJJA
548128                                                                                                                                                                           bwebawoza omusango guno.
306748  Ekibuga Ntebe n’emiriraano basiibye ku bunkenke olw’abakuumaddembe abasiibye bateevuunya buli wamu okuziyiza abawagizi ababadde beesomye okweyiwa ku kisaawe okwaniriza omubaka wa Kyaddondo East

In [14]:
#Let's get the sentences which are already on CV
df3=compare.intersect_rows

In [15]:
# Let us print the sentences already on CV as table 3
df3
# df3.to_csv('duplicates.csv',index=False)

                                                 sentence _merge
352                                                     .   both
367                                        Kiiza Besigye.   both
508                                       Bya Stuart Yiga   both
544                                     Peters mu Ndeeba.   both
682                           Prosperous Nankindu Kavuma.   both
...                                                   ...    ...
222586  Omuloodi Erias Lukwago alayiziddwa okukulember...   both
228446      Ekibiina ekiri mu buyinza kikyali kya maanyi.   both
245847                            Leero mazaalibwa gange.   both
247802                                    Emmambya esaze.   both
280326                        Tujja kusigala nga tulwana.   both

[9587 rows x 2 columns]

###### Other approaches to remove already existing sentences in table 3 from table 2 ---in case the one below fails
 Approach 1: cond = df1['sentence'].isin(df2['sentence'])
 
 Approach 2: df1.drop(df1[cond].index, inplace = True)
 
 Approach 3: df1[~df1.isin(df2)].dropna()

In [16]:
#Let us remove rows from our new dataset sentences that are already on CV
df4=df2[~df2.sentence.isin(df3.sentence)]

In [17]:
# New table with no sentence already on CV
df4

                                                 sentence
0       BANNAYUGANDA basabiddwa okwekemba  okukwasizaa...
1       ABAKADDE ng'abasinga balwadde bafunye akaseko ...
2       Mildred Tusasiirwe omutuuze ku kyalo Zitemwa m...
3       MAAMA Margaret Zaalwango yabugaanye essanyu ka...
4       SHARIFAH Namugerwa Mulindwa ow'e Lukaya mu Kal...
...                                                   ...
349735        agenda kuzitambuza ku mikutu migatta bantu.
349736  yawaliriza omukyala okuddukira ku Poliisi ye K...
349737                   bamutwala mu kkooti ye Makindye.
349738  amyuka omwogezi wa Poliisi mu Kampala n'emirir...
349739       musangiddwamu vidiyo mu sitayiro ezenjawulo.

[340142 rows x 1 columns]

In [9]:
#Let us now export the csv for uploading to COmmon Voice.
# Don't forget to remove the sentence --- header
# You can also delete the all_sentences.csv file now
df4.to_csv('lug-batch-thirty-five.csv',encoding='utf-8', index=False)

In [18]:
df4.to_csv('model.csv',encoding='utf-8', index=False)

In [10]:
#LEt's now get a txt for uploading to Common Voice
data = pd.read_csv('lug-batch-thirty-five.csv', encoding='utf-8')
with open('lug-batch-thirty-five.txt','a+', encoding='utf-8') as f:
    for line in data.values:
        f.write((str(line[0])+'\n'))

###### Note: Cross check the final csv for characters like "/","()","[]","‚Äô",‚Äú, *,@,#,$,%,^,
 and other symbols like é and ç. =, +,
 
 If found: "‚Äú"---> replace with the urly(") and "‚Äô" --> replaced with an apostrophe (').
 
 The "‚Äô",‚Äú, are normally caused by how you view the file ---> enconding formats ---UTF
 The rest can be removed and replaced.
 
 BE mindful that sentences with commas in between in a csv file are enclosed in quotes by 
 the csv. So while changing the csv to text make sure you have no quoetes on the sentences 
 for example: "How are you" in csv ---> How are you in txt.

In [20]:
# Lets append df4 to the original dataset df1
new_data_on_cv=df1.append(df4)

In [21]:
new_data_on_cv

                                                 sentence
0       Omulabirizi Kityo Luwalira ng'asaba eggulo mu ...
1       OMULABIRIZI we Namirembe, Wilberforce Kityo Lu...
2       Apollo Kivebulaaya e Bukondo mu Busumba bwe Na...
3       Ategezezza nti Omukama Katonda alina ebirungi ...
4       Abantu balina okulumwa ,balina okusoomoozebwa ...
...                                                   ...
349735        agenda kuzitambuza ku mikutu migatta bantu.
349736  yawaliriza omukyala okuddukira ku Poliisi ye K...
349737                   bamutwala mu kkooti ye Makindye.
349738  amyuka omwogezi wa Poliisi mu Kampala n'emirir...
349739       musangiddwamu vidiyo mu sitayiro ezenjawulo.

[623494 rows x 1 columns]

In [13]:
#save new dataset for sentences on cv with new name. 
new_data_on_cv.to_csv('../all-cv-data/already_on_cv15.csv',index=False)

In [14]:
import os
  
# first check whether file exists or not
# calling remove method to delete the csv file
# in remove method you need to pass file name and type

file = '../all-cv-data/already_on_cv14.csv'
if(os.path.exists(file) and os.path.isfile(file)):
    os.remove(file)
    print("file deleted")
else:
     print("file not found")

file deleted

In [15]:
new_data_on_cv

                                                sentence
0      ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1      Emmere etali nsiike ebeera nnungi eri emibiri ...
2      Abawala abalungi baagalwa buli muntu naye abas...
3      Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4      Abayizi abatuula mu maaso batera okuba nga bat...
...                                                  ...
14870               Omuggo oguli ewa munno tegugoba ngo.
14871  Omutaka Kikaawa Owoomusu ye yakomaganga embugo...
14872  Yeetuulira waka awo sikulwa ng’agwa ku mulala ...
14873    Olumala ebyo, amalookooli nga gatandika kuzina.
14874            Zino ziba za kumukulisa maaso ga ntamu.

[97273 rows x 1 columns]