In [1]:
!pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.1.3)
Requirement already satisfied: numpy>=1.11.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from datacompy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/k-packxs/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.0->datacompy) (1.15.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2

In [27]:
import datacompy, pandas as pd

df1=pd.read_csv('already_on_cv.csv')
df2 =pd.read_csv('upload_to_cv.csv')

In [28]:
df1.head()

                                            sentence
0  ﻿Tugende e Makindye tulabe abayimbi n'abazanny...
1  Emmere etali nsiike ebeera nnungi eri emibiri ...
2  Abawala abalungi baagalwa buli muntu naye abas...
3  Wali obaddeko awo n'owulira ng'omutwe gulinga ...
4  Abayizi abatuula mu maaso batera okuba nga bat...

In [29]:
df2.head()

                                            sentence
0  Abaana abali mu ssomero lino banjawulo nti era...
1      Abaganda beetaba mangu n'abafuzi b'amatwale .
2  Abaganda baakozesebwa nnyo abafuzi b'amatwale ...
3      Abamisane be baaleeta okusoma kw'omu bibiina.
4  Abanoonyereza basooka kugenda mu ssomero ly'eb...

In [41]:
#abs_to and rel_tol (absolute tolerance and relative tolerance) - 
# allow you to specify a tolerance of deviation btn num values
 
compare = datacompy.Compare(
df1,
df2,
join_columns='sentence',  #You can also replace with on_index=True
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Original', #Optional, defaults to 'df1'
df2_name='New' #Optional, defaults to 'df2'
)
#compare.matches(ignore_extra_columns=False)

print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Original        1  37318
1       New        1   1084

Column Summary
--------------

Number of columns in common: 1
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: sentence
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 3
Number of rows in Original but not in New: 37,315
Number of rows in New but not in Original: 1,081

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 3

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 0

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

                                                                                            sentence
3638                              Omuvubuka ow'ekiwago abadde atambula ng'agaziwa akubiddwa amasasi.
3979   Okwewala okumenya emizizo omusawo bwe yakuwanga eddagala ng'afuba okkumenyera emizizo gyonna.
5093                                                                    Omutwe mpulira gunnuma nnyo.
3374                                             Mukyala wange bw'aba mu nsonga alumwa nnyo olubuto.
37255                      Omusogozi bw'aba asiwa omubisi anywako ng'ayagala okuwulira obuka bwagwo.
35556                                         Omukyala yazaala balongo emirundi ebiri egiddiringana.
5052                                                                 Ddamu ebibuuzo bye nkubuuzizza.
24912                           Olulimi bwe busengeke bw‚Äôobubonero obuyinza okubeera mu maloboozi.
2243                                        Ebbugumu lingi nnyo bikkula ku mwana oyo afune ku mpewo.
14444                             Obukulisitaayo butumbula eddembe n'obuwangazi mu bantu mu kitundu.

Sample Rows Only in New (First 10 Columns)
------------------------------------------

                                                                                         sentence
38210                                    Ogenda kuyingirira obuvunaanyizibwa obutali bwetegekere.
37816                                                  Amaka ag'engeri eyo temuba mirembe nakamu.
37327          Abantu ab'enjawulo bazze bakola okunoonyereza ku bupande n'engeri gye bukolebwamu.
38253                                 Omukulembeze yakeeranga ku makya n’akuba Saagalaagalamidde.
38068                                        Kiki kyokola ekiyinza okukufuula mukwano gw’abalala?
37662  Okuteeka essira ku nnimi enzaaliranwa nga zijjumbirwa mwebyo byonna ebikolebwa mu ssomero.
38338                                                              Tomanyi nti okufumba si kwota?
38384                Yakubibwanga ku makya ddala ku ssaawa abantu we batandikira okukola emirimu.
37583                                        Obudde okunoonyereza kwe bunaamala bujja kuba bungi.
37956                                             Ekyo kye kyabanga ekibiina oba liyite essomero.

In [51]:
#Let's print the common sentences
print(compare.intersect_rows)

                                                sentence _merge
33288               Sirina maaso, nnyindo wadde olulimi.   both
34322  Ekyo kijja kuyamba okukendeeza ku nsobi ezibad...   both
36775                           Obudde bwali bwa misana.   both

In [55]:
# You can now go ahead and remove these sentences in the intersection from the new dataset